@layer reset, base, tokens, recipes, utilities;

body {
  padding: 0 !important;
}

html {
  scrollbar-color: unset !important;
}

a:focus,
input:focus,
select:focus,
textarea:focus {
  outline: unset;
  outline-offset: unset;
}